.container {
  position: relative;
}

.left-circle {
  background-color: rgba(255, 0, 0, 0.5);
  width: 100px;
  height: 100px;
}

.right-circle {
  background-color: rgba(255, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
}

.third-circle {
  background-color: rgba(255, 0, 0, 0.75);
  width: 100px;
  height: 100px;
}

.bit-sequence {
  display: flex;
  font-family: 'Roboto Mono', monospace;
}

.bit-window {
  padding: 0;
  margin: 0;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.bit-window:first-of-type {
  border-left: 4px solid black
}

.bit-slider {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 100ms ease-in-out;
}

.bit-value {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bit-slider.zero {
  margin-top: 0;
}

.bit-slider.one {
  margin-top: -30px;
}
