.freq-node-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
}

.freq-node {
  padding: 0;
  width: 150px;
  height: 20px;
  border: 1px solid black;
  border-radius: 12px;
  margin: 0 10px;
  display: flex;
  transition: 1s;
}

.freq-node > .freq-count {
  margin: 0;
  width: 50%;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freq-node > .freq-name {
  margin: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: lightpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.huff-code-lookup {

}

#tree-container {
  height: 90%;
  width: 100%;
  display: flex;
}

.tree-translate {
  display: inline-block;
}

#huff-tree {
  width: 100%;

}

#huff-table {
  width: 25%;
  height: 80%;
  overflow-y: hidden;
}
